# Redwood contribution: Ignored files for Python, model checkpoints, and local cache
# Python bytecode
__pycache__/
*.pyc

# Local model binaries
saved_models/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
